In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [32]:
import pandas as pd
import numpy as np
import re 

df=pd.read_excel('/content/drive/MyDrive/음성충주6공구__토공사,포장공사_230418.xlsx')
df

,공사일지일자,최저기온,최고기온,날씨코드,강우량,강설량,감독일지내용,공사일지당일작업내용,공기지연발생,공사일지당일작업내용(공기지연요인제외),...,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40
0,20091231.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20100209.0,1.6,2.3,3,8.7,0.0,-,《안전관리》ㅇ 동막터널- 터널내 환기 및 배수상태 확인《터널공》ㅇ 동막터널 굴착 및...,NaN,《안전관리》ㅇ 동막터널- 터널내 환기 및 배수상태 확인《터널공》ㅇ 동막터널 굴착 및...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20100210.0,2.9,4.7,3,1.0,0.0,"- 동막터널(FRP보강 점검), \r\n- 팍스 물산 배수로 점검\r\n- 수로교 ...",《안전관리》ㅇ 동막터널- 버럭처리시 신호수 배치상태 확인《토공사》ㅇ STA.0+18...,NaN,《안전관리》ㅇ 동막터널- 버럭처리시 신호수 배치상태 확인《토공사》ㅇ STA.0+18...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20100211.0,0.2,4.5,13,0.0,9.0,- 터널 시점부 FRP보강 검측\r\n- 터널 종점부 평택 하반부 발파\r\n- 페...,《안전관리》ㅇ 동막터널-터널작업자 안전장구류 착용상태 확인《터널공》ㅇ 동막터널 굴착...,NaN,《안전관리》ㅇ 동막터널-터널작업자 안전장구류 착용상태 확인《터널공》ㅇ 동막터널 굴착...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20100217.0,-10.4,0.1,2,0.0,0.0,"- 하구암교 콘크린트 타설\r\n- 가금1교 P4,5번 안전시설대 설치\r\n- 동...",《안전관리》ㅇ 동막터널- 버럭처리시 신호수 배치상태 확인《토공사》ㅇ STA.0+18...,NaN,《안전관리》ㅇ 동막터널- 버럭처리시 신호수 배치상태 확인《토공사》ㅇ STA.0+18...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65530,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65531,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65532,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65533,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65534,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
df1['공사일지일자'] = df['공사일지일자']
#df1 = pd.DataFrame(df['토공사'])
df['토공사'] = df['토공사'].str.upper()
df['토공사'] = df['토공사'].replace('[ㅇ-]', ' ', regex=True)

# 데이터 전처리
df['STA+'] = df['토공사'].replace({'S+0':'STA.0+','본선 STA.0+':'STA.0+','0+':'STA.0+','S+1':'STA.1+','본선 STA.1+':'STA.1+','1+':'STA.1+','S+2':'STA.2+','본선 STA.2+':'STA.2+','2+':'STA.2+','S+3':'STA.3+','본선 STA.3+':'STA.3+','3+':'STA.3+','S+4':'STA.4+','본선 STA.4+':'STA.4+','4+':'STA.4+','S+5':'STA.5+','본선 STA.5+':'STA.5+','5+':'STA.5+','S+6':'STA.6+','본선 STA.6+':'STA.6+','6+':'STA.6+','S+7':'STA.7+','본선 STA.7+':'STA.7+','7+':'STA.7+','S+8':'STA.8+','본선 STA.8+':'STA.8+','8+':'STA.8+','S+9':'STA.9+','본선 STA.9+':'STA.9+','9+':'STA.9+'})
df['STA+'] = df['STA+'].replace('STA.',')STA.', regex=True)

In [34]:
# STA+0 구간에 정규표현식 적용
pattern_0 = r'(STA\.0+\+\d+~\d+\+\d+)(?:\s)(\S+)(?:\s)\W+(?:\))?'
sta0 = []
sta0_1 = []
sta0_2 = []
sta0_3 = []
sta0_4 = []
sta0_5 = []
for index, row in df.iterrows():
    sta_plus = row['STA+']
    if pd.isna(sta_plus):
      sta_plus = ''
    matches = re.findall(pattern_0, sta_plus)
    if matches:
        sta0.append(pd.Series(matches[0][0:1]).fillna('').str.strip()[0])
        sta0_1.append(pd.Series(matches[0][1:2]).fillna('').str.strip()[0])
        if len(matches) > 1:
            sta0_2.append(pd.Series(matches[1][0:1]).fillna('').str.strip()[0])
            sta0_3.append(pd.Series(matches[1][1:2]).fillna('').str.strip()[0])
        else:
            sta0_2.append('')
            sta0_3.append('')
        if len(matches) > 2:
            sta0_4.append(pd.Series(matches[2][0:1]).fillna('').str.strip()[0])
            sta0_5.append(pd.Series(matches[2][1:2]).fillna('').str.strip()[0])
        else:
            sta0_4.append('')
            sta0_5.append('')
    else:
        sta0.append('')
        sta0_1.append('')
        sta0_2.append('')
        sta0_3.append('')
        sta0_4.append('')
        sta0_5.append('')       

# STA+1 구간에 정규표현식 적용
pattern_1 = r'(STA\.1+\+\d+~\d+\+\d+)(?:\s)(\S+)(?:\s)\W+(?:\))?'
sta1 = []
sta1_1 = []
sta1_2 = []
sta1_3 = []
sta1_4 = []
sta1_5 = []
for index, row in df.iterrows():
    sta_plus = row['STA+']
    if pd.isna(sta_plus):
      sta_plus = ''
    matches = re.findall(pattern_1, sta_plus)
    if matches:
        sta1.append(pd.Series(matches[0][0:1]).fillna('').str.strip()[0])
        sta1_1.append(pd.Series(matches[0][1:2]).fillna('').str.strip()[0])
        if len(matches) > 1:
            sta1_2.append(pd.Series(matches[1][0:1]).fillna('').str.strip()[0])
            sta1_3.append(pd.Series(matches[1][1:2]).fillna('').str.strip()[0])
        else:
            sta1_2.append('')
            sta1_3.append('')
        if len(matches) > 2:
            sta1_4.append(pd.Series(matches[2][0:1]).fillna('').str.strip()[0])
            sta1_5.append(pd.Series(matches[2][1:2]).fillna('').str.strip()[0])
        else:
            sta1_4.append('')
            sta1_5.append('')
    else:
        sta1.append('')
        sta1_1.append('')
        sta1_2.append('')
        sta1_3.append('')
        sta1_4.append('')
        sta1_5.append('')

# STA+2 구간에 정규표현식 적용
pattern_2 = r'(STA\.2+\+\d+~\d+\+\d+)(?:\s)(\S+)(?:\s)\W+(?:\))?'
sta2 = []
sta2_1 = []
sta2_2 = []
sta2_3 = []
sta2_4 = []
sta2_5 = []
for index, row in df.iterrows():
    sta_plus = row['STA+']
    if pd.isna(sta_plus):
      sta_plus = ''
    matches = re.findall(pattern_2, sta_plus)
    if matches:
        sta2.append(pd.Series(matches[0][0:1]).fillna('').str.strip()[0])
        sta2_1.append(pd.Series(matches[0][1:2]).fillna('').str.strip()[0])
        if len(matches) > 1:
            sta2_2.append(pd.Series(matches[1][0:1]).fillna('').str.strip()[0])
            sta2_3.append(pd.Series(matches[1][1:2]).fillna('').str.strip()[0])
        else:
            sta2_2.append('')
            sta2_3.append('')
        if len(matches) > 2:
            sta2_4.append(pd.Series(matches[2][0:1]).fillna('').str.strip()[0])
            sta2_5.append(pd.Series(matches[2][1:2]).fillna('').str.strip()[0])
        else:
            sta2_4.append('')
            sta2_5.append('')
    else:
        sta2.append('')
        sta2_1.append('')
        sta2_2.append('')
        sta2_3.append('')
        sta2_4.append('')
        sta2_5.append('')

# STA+3 구간에 정규표현식 적용
pattern_3 = r'(STA\.3+\+\d+~\d+\+\d+)(?:\s)(\S+)(?:\s)\W+(?:\))?'
sta3 = []
sta3_1 = []
sta3_2 = []
sta3_3 = []
sta3_4 = []
sta3_5 = []
for index, row in df.iterrows():
    sta_plus = row['STA+']
    if pd.isna(sta_plus):
      sta_plus = ''
    matches = re.findall(pattern_3, sta_plus)
    if matches:
        sta3.append(pd.Series(matches[0][0:1]).fillna('').str.strip()[0])
        sta3_1.append(pd.Series(matches[0][1:2]).fillna('').str.strip()[0])
        if len(matches) > 1:
            sta3_2.append(pd.Series(matches[1][0:1]).fillna('').str.strip()[0])
            sta3_3.append(pd.Series(matches[1][1:2]).fillna('').str.strip()[0])
        else:
            sta3_2.append('')
            sta3_3.append('')
        if len(matches) > 2:
            sta3_4.append(pd.Series(matches[2][0:1]).fillna('').str.strip()[0])
            sta3_5.append(pd.Series(matches[2][1:2]).fillna('').str.strip()[0])
        else:
            sta3_4.append('')
            sta3_5.append('')
    else:
        sta3.append('')
        sta3_1.append('')
        sta3_2.append('')
        sta3_3.append('')
        sta3_4.append('')
        sta3_5.append('')

# STA+4 구간에 정규표현식 적용
pattern_4 = r'(STA\.4+\+\d+~\d+\+\d+)(?:\s)(\S+)(?:\s)\W+(?:\))?'
sta4 = []
sta4_1 = []
sta4_2 = []
sta4_3 = []
sta4_4 = []
sta4_5 = []
for index, row in df.iterrows():
    sta_plus = row['STA+']
    if pd.isna(sta_plus):
      sta_plus = ''
    matches = re.findall(pattern_4, sta_plus)
    if matches:
        sta4.append(pd.Series(matches[0][0:1]).fillna('').str.strip()[0])
        sta4_1.append(pd.Series(matches[0][1:2]).fillna('').str.strip()[0])
        if len(matches) > 1:
            sta4_2.append(pd.Series(matches[1][0:1]).fillna('').str.strip()[0])
            sta4_3.append(pd.Series(matches[1][1:2]).fillna('').str.strip()[0])
        else:
            sta4_2.append('')
            sta4_3.append('')
        if len(matches) > 2:
            sta4_4.append(pd.Series(matches[2][0:1]).fillna('').str.strip()[0])
            sta4_5.append(pd.Series(matches[2][1:2]).fillna('').str.strip()[0])
        else:
            sta4_4.append('')
            sta4_5.append('')
    else:
        sta4.append('')
        sta4_1.append('')
        sta4_2.append('')
        sta4_3.append('')
        sta4_4.append('')
        sta4_5.append('')

# STA+5 구간에 정규표현식 적용
pattern_5 = r'(STA\.5+\+\d+~\d+\+\d+)(?:\s)(\S+)(?:\s)\W+(?:\))?'
sta5 = []
sta5_1 = []
sta5_2 = []
sta5_3 = []
sta5_4 = []
sta5_5 = []
for index, row in df.iterrows():
    sta_plus = row['STA+']
    if pd.isna(sta_plus):
      sta_plus = ''
    matches = re.findall(pattern_5, sta_plus)
    if matches:
        sta5.append(pd.Series(matches[0][0:1]).fillna('').str.strip()[0])
        sta5_1.append(pd.Series(matches[0][1:2]).fillna('').str.strip()[0])
        if len(matches) > 1:
            sta5_2.append(pd.Series(matches[1][0:1]).fillna('').str.strip()[0])
            sta5_3.append(pd.Series(matches[1][1:2]).fillna('').str.strip()[0])
        else:
            sta5_2.append('')
            sta5_3.append('')
        if len(matches) > 2:
            sta5_4.append(pd.Series(matches[2][0:1]).fillna('').str.strip()[0])
            sta5_5.append(pd.Series(matches[2][1:2]).fillna('').str.strip()[0])
        else:
            sta4_4.append('')
            sta4_5.append('')
    else:
        sta5.append('')
        sta5_1.append('')
        sta5_2.append('')
        sta5_3.append('')
        sta5_4.append('')
        sta5_5.append('')

# STA+6 구간에 정규표현식 적용
pattern_6 = r'(STA\.6\+\d+~\d+\+\d+)(?:\s)(\S+)(?:\s)\W+(?:\))?'
sta6 = []
sta6_1 = []
sta6_2 = []
sta6_3 = []
sta6_4 = []
sta6_5 = []
for index, row in df.iterrows():
    sta_plus = row['STA+']
    if pd.isna(sta_plus):
      sta_plus = ''
    matches = re.findall(pattern_6, sta_plus)
    if matches:
        sta6.append(pd.Series(matches[0][0:1]).fillna('').str.strip()[0])
        sta6_1.append(pd.Series(matches[0][1:2]).fillna('').str.strip()[0])
        if len(matches) > 1:
            sta6_2.append(pd.Series(matches[1][0:1]).fillna('').str.strip()[0])
            sta6_3.append(pd.Series(matches[1][1:2]).fillna('').str.strip()[0])
        else:
            sta6_2.append('')
            sta6_3.append('')
        if len(matches) > 2:
            sta6_4.append(pd.Series(matches[2][0:1]).fillna('').str.strip()[0])
            sta6_5.append(pd.Series(matches[2][1:2]).fillna('').str.strip()[0])
        else:
            sta6_4.append('')
            sta6_5.append('')
    else:
        sta6.append('')
        sta6_1.append('')
        sta6_2.append('')
        sta6_3.append('')
        sta6_4.append('')
        sta6_5.append('')

# STA+7 구간에 정규표현식 적용
pattern_7 = r'(STA\.7\+\d+~\d+\+\d+)(?:\s)(\S+)(?:\s)\W+(?:\))?'
sta7 = []
sta7_1 = []
sta7_2 = []
sta7_3 = []
sta7_4 = []
sta7_5 = []
for index, row in df.iterrows():
    sta_plus = row['STA+']
    if pd.isna(sta_plus):
      sta_plus = ''
    matches = re.findall(pattern_7, sta_plus)
    if matches:
        sta7.append(pd.Series(matches[0][0:1]).fillna('').str.strip()[0])
        sta7_1.append(pd.Series(matches[0][1:2]).fillna('').str.strip()[0])
        if len(matches) > 1:
            sta7_2.append(pd.Series(matches[1][0:1]).fillna('').str.strip()[0])
            sta7_3.append(pd.Series(matches[1][1:2]).fillna('').str.strip()[0])
        else:
            sta7_2.append('')
            sta7_3.append('')
        if len(matches) > 2:
            sta7_4.append(pd.Series(matches[2][0:1]).fillna('').str.strip()[0])
            sta7_5.append(pd.Series(matches[2][1:2]).fillna('').str.strip()[0])
        else:
            sta7_4.append('')
            sta7_5.append('')
    else:
        sta7.append('')
        sta7_1.append('')
        sta7_2.append('')
        sta7_3.append('')
        sta7_4.append('')
        sta7_5.append('')

# STA+8 구간에 정규표현식 적용
pattern_8 = r'(STA\.8\+\d+~\d+\+\d+)(?:\s)(\S+)(?:\s)\W+(?:\))?'
sta8 = []
sta8_1 = []
sta8_2 = []
sta8_3 = []
sta8_4 = []
sta8_5 = []
for index, row in df.iterrows():
    sta_plus = row['STA+']
    if pd.isna(sta_plus):
      sta_plus = ''
    matches = re.findall(pattern_8, sta_plus)
    if matches:
        sta8.append(pd.Series(matches[0][0:1]).fillna('').str.strip()[0])
        sta8_1.append(pd.Series(matches[0][1:2]).fillna('').str.strip()[0])
        if len(matches) > 1:
            sta8_2.append(pd.Series(matches[1][0:1]).fillna('').str.strip()[0])
            sta8_3.append(pd.Series(matches[1][1:2]).fillna('').str.strip()[0])
        else:
            sta8_2.append('')
            sta8_3.append('')
        if len(matches) > 2:
            sta8_4.append(pd.Series(matches[2][0:1]).fillna('').str.strip()[0])
            sta8_5.append(pd.Series(matches[2][1:2]).fillna('').str.strip()[0])
        else:
            sta8_4.append('')
            sta8_5.append('')
    else:
        sta8.append('')
        sta8_1.append('')
        sta8_2.append('')
        sta8_3.append('')
        sta8_4.append('')
        sta8_5.append('')

# STA+9 구간에 정규표현식 적용
pattern_9 = r'(STA\.9\+\d+~\d+\+\d+)(?:\s)(\S+)(?:\s)\W+(?:\))?'
sta9 = []
sta9_1 = []
sta9_2 = []
sta9_3 = []
sta9_4 = []
sta9_5 = []
for index, row in df.iterrows():
    sta_plus = row['STA+']
    if pd.isna(sta_plus):
      sta_plus = ''
    matches = re.findall(pattern_9, sta_plus)
    if matches:
        sta9.append(pd.Series(matches[0][0:1]).fillna('').str.strip()[0])
        sta9_1.append(pd.Series(matches[0][1:2]).fillna('').str.strip()[0])
        if len(matches) > 1:
            sta9_2.append(pd.Series(matches[1][0:1]).fillna('').str.strip()[0])
            sta9_3.append(pd.Series(matches[1][1:2]).fillna('').str.strip()[0])
        else:
            sta9_2.append('')
            sta9_3.append('')
        if len(matches) > 2:
            sta9_4.append(pd.Series(matches[2][0:1]).fillna('').str.strip()[0])
            sta9_5.append(pd.Series(matches[2][1:2]).fillna('').str.strip()[0])
        else:
            sta9_4.append('')
            sta9_5.append('')
    else:
        sta9.append('')
        sta9_1.append('')
        sta9_2.append('')
        sta9_3.append('')
        sta9_4.append('')
        sta9_5.append('')

In [43]:
max_len = max(len(sta0), len(sta0_1), len(sta0_2), len(sta0_3), len(sta0_4), len(sta0_5),len(sta1), len(sta1_1), len(sta1_2), len(sta1_3), len(sta1_4), len(sta1_5),len(sta2), len(sta2_1), len(sta2_2), len(sta2_3), len(sta2_4), len(sta2_5),len(sta3), len(sta3_1), len(sta3_2), len(sta3_3), len(sta3_4), len(sta3_5),len(sta4), len(sta4_1), len(sta4_2), len(sta4_3), len(sta4_4), len(sta4_5),len(sta5), len(sta5_1), len(sta5_2), len(sta5_3), len(sta5_4), len(sta5_5),len(sta6), len(sta6_1), len(sta6_2), len(sta6_3), len(sta6_4), len(sta6_5),len(sta7), len(sta7_1), len(sta7_2), len(sta7_3), len(sta7_4), len(sta7_5),len(sta8), len(sta8_1), len(sta8_2), len(sta8_3), len(sta8_4), len(sta8_5),len(sta9), len(sta9_1), len(sta9_2), len(sta9_3), len(sta9_4), len(sta9_5))
sta0 += [''] * (max_len - len(sta0))
sta0_1 += [''] * (max_len - len(sta0_1))
sta0_2 += [''] * (max_len - len(sta0_2))
sta0_3 += [''] * (max_len - len(sta0_3))
sta0_4 += [''] * (max_len - len(sta0_4))
sta0_5 += [''] * (max_len - len(sta0_5))
sta1 += [''] * (max_len - len(sta1))
sta1_1 += [''] * (max_len - len(sta1_1))
sta1_2 += [''] * (max_len - len(sta1_2))
sta1_3 += [''] * (max_len - len(sta1_3))
sta1_4 += [''] * (max_len - len(sta1_4))
sta1_5 += [''] * (max_len - len(sta1_5))
sta2 += [''] * (max_len - len(sta2))
sta2_1 += [''] * (max_len - len(sta2_1))
sta2_2 += [''] * (max_len - len(sta2_2))
sta2_3 += [''] * (max_len - len(sta2_3))
sta2_4 += [''] * (max_len - len(sta2_4))
sta2_5 += [''] * (max_len - len(sta2_5))
sta3 += [''] * (max_len - len(sta3))
sta3_1 += [''] * (max_len - len(sta3_1))
sta3_2 += [''] * (max_len - len(sta3_2))
sta3_3 += [''] * (max_len - len(sta3_3))
sta3_4 += [''] * (max_len - len(sta3_4))
sta3_5 += [''] * (max_len - len(sta3_5))
sta4 += [''] * (max_len - len(sta4))
sta4_1 += [''] * (max_len - len(sta4_1))
sta4_2 += [''] * (max_len - len(sta4_2))
sta4_3 += [''] * (max_len - len(sta4_3))
sta4_4 += [''] * (max_len - len(sta4_4))
sta4_5 += [''] * (max_len - len(sta4_5))
sta5 += [''] * (max_len - len(sta5))
sta5_1 += [''] * (max_len - len(sta5_1))
sta5_2 += [''] * (max_len - len(sta5_2))
sta5_3 += [''] * (max_len - len(sta5_3))
sta5_4 += [''] * (max_len - len(sta5_4))
sta5_5 += [''] * (max_len - len(sta5_5))
sta6 += [''] * (max_len - len(sta6))
sta6_1 += [''] * (max_len - len(sta6_1))
sta6_2 += [''] * (max_len - len(sta6_2))
sta6_3 += [''] * (max_len - len(sta6_3))
sta6_4 += [''] * (max_len - len(sta6_4))
sta6_5 += [''] * (max_len - len(sta6_5))
sta7 += [''] * (max_len - len(sta7))
sta7_1 += [''] * (max_len - len(sta7_1))
sta7_2 += [''] * (max_len - len(sta7_2))
sta7_3 += [''] * (max_len - len(sta7_3))
sta7_4 += [''] * (max_len - len(sta7_4))
sta7_5 += [''] * (max_len - len(sta7_5))
sta8 += [''] * (max_len - len(sta8))
sta8_1 += [''] * (max_len - len(sta8_1))
sta8_2 += [''] * (max_len - len(sta8_2))
sta8_3 += [''] * (max_len - len(sta8_3))
sta8_4 += [''] * (max_len - len(sta8_4))
sta8_5 += [''] * (max_len - len(sta8_5))        
sta9 += [''] * (max_len - len(sta9))
sta9_1 += [''] * (max_len - len(sta9_1))
sta9_2 += [''] * (max_len - len(sta9_2))
sta9_3 += [''] * (max_len - len(sta9_3))
sta9_4 += [''] * (max_len - len(sta9_4))
sta9_5 += [''] * (max_len - len(sta9_5))

# STA+d 각 구간 df2에 데이터 프레임 생성
df1 = pd.DataFrame({
    'STA+0': sta0,
    'STA+0_1': sta0_1,
    'STA+0_2': sta0_2,
    'STA+0_3': sta0_3,
    'STA+0_4': sta0_4,
    'STA+0_5': sta0_5,
    'STA+1': sta1,
    'STA+1_1': sta1_1,
    'STA+1_2': sta1_2,
    'STA+1_3': sta1_3,
    'STA+1_4': sta1_4,
    'STA+1_5': sta1_5,
    'STA+2': sta2,
    'STA+2_1': sta2_1,
    'STA+2_2': sta2_2,
    'STA+2_3': sta2_3,
    'STA+2_4': sta2_4,
    'STA+2_5': sta2_5,
    'STA+3': sta3,
    'STA+3_1': sta3_1,
    'STA+3_2': sta3_2,
    'STA+3_3': sta3_3,
    'STA+3_4': sta3_4,
    'STA+3_5': sta3_5,
    'STA+4': sta4,
    'STA+4_1': sta4_1,
    'STA+4_2': sta4_2,
    'STA+4_3': sta4_3,
    'STA+4_4': sta4_4,
    'STA+4_5': sta4_5,
    'STA+5': sta5,
    'STA+5_1': sta5_1,
    'STA+5_2': sta5_2,
    'STA+5_3': sta5_3,
    'STA+5_4': sta5_4,
    'STA+5_5': sta5_5,
    'STA+6': sta6,
    'STA+6_1': sta6_1,
    'STA+6_2': sta6_2,
    'STA+6_3': sta6_3,
    'STA+6_4': sta6_4,
    'STA+6_5': sta6_5,
    'STA+7': sta7,
    'STA+7_1': sta7_1,
    'STA+7_2': sta7_2,
    'STA+7_3': sta7_3,
    'STA+7_4': sta7_4,
    'STA+7_5': sta7_5,
    'STA+8': sta8,
    'STA+8_1': sta8_1,
    'STA+8_2': sta8_2,
    'STA+8_3': sta8_3,
    'STA+8_4': sta8_4,
    'STA+8_5': sta8_5,
    'STA+9': sta9,
    'STA+9_1': sta9_1,
    'STA+9_2': sta9_2,
    'STA+9_3': sta9_3,
    'STA+9_4': sta9_4,
    'STA+9_5': sta9_5,
})
df1['공사일지일자'] = df['공사일지일자']
# 데이터 합치기
df2 = pd.DataFrame(df1)
df2['공사일지일자'] = df1['공사일지일자']
df2['STA+0'] = (df1['STA+0'].fillna('') + ' ' + df1['STA+0_1'].fillna('') + '\n' + df1['STA+0_2'].fillna('') + ' ' + df1['STA+0_3'].fillna('') + '\n' + df1['STA+0_4'].fillna('') + ' ' + df1['STA+0_5'].fillna('')).str.strip()
df2['STA+1'] = (df1['STA+1'].fillna('') + ' ' + df1['STA+1_1'].fillna('') + '\n' + df1['STA+1_2'].fillna('') + ' ' + df1['STA+1_3'].fillna('') + '\n' + df1['STA+1_4'].fillna('') + ' ' + df1['STA+1_5'].fillna('')).str.strip()
df2['STA+2'] = (df1['STA+2'].fillna('') + ' ' + df1['STA+2_1'].fillna('') + '\n' + df1['STA+2_2'].fillna('') + ' ' + df1['STA+2_3'].fillna('') + '\n' + df1['STA+2_4'].fillna('') + ' ' + df1['STA+2_5'].fillna('')).str.strip()
df2['STA+3'] = (df1['STA+3'].fillna('') + ' ' + df1['STA+3_1'].fillna('') + '\n' + df1['STA+3_2'].fillna('') + ' ' + df1['STA+3_3'].fillna('') + '\n' + df1['STA+3_4'].fillna('') + ' ' + df1['STA+3_5'].fillna('')).str.strip()
df2['STA+4'] = (df1['STA+4'].fillna('') + ' ' + df1['STA+4_1'].fillna('') + '\n' + df1['STA+4_2'].fillna('') + ' ' + df1['STA+4_3'].fillna('') + '\n' + df1['STA+4_4'].fillna('') + ' ' + df1['STA+4_5'].fillna('')).str.strip()
df2['STA+5'] = (df1['STA+5'].fillna('') + ' ' + df1['STA+5_1'].fillna('') + '\n' + df1['STA+5_2'].fillna('') + ' ' + df1['STA+5_3'].fillna('') + '\n' + df1['STA+5_4'].fillna('') + ' ' + df1['STA+5_5'].fillna('')).str.strip()
df2['STA+6'] = (df1['STA+6'].fillna('') + ' ' + df1['STA+6_1'].fillna('') + '\n' + df1['STA+6_2'].fillna('') + ' ' + df1['STA+6_3'].fillna('') + '\n' + df1['STA+6_4'].fillna('') + ' ' + df1['STA+6_5'].fillna('')).str.strip()
df2['STA+7'] = (df1['STA+7'].fillna('') + ' ' + df1['STA+7_1'].fillna('') + '\n' + df1['STA+7_2'].fillna('') + ' ' + df1['STA+7_3'].fillna('') + '\n' + df1['STA+7_4'].fillna('') + ' ' + df1['STA+7_5'].fillna('')).str.strip()
df2['STA+8'] = (df1['STA+8'].fillna('') + ' ' + df1['STA+8_1'].fillna('') + '\n' + df1['STA+8_2'].fillna('') + ' ' + df1['STA+8_3'].fillna('') + '\n' + df1['STA+8_4'].fillna('') + ' ' + df1['STA+8_5'].fillna('')).str.strip()
df2['STA+9'] = (df1['STA+9'].fillna('') + ' ' + df1['STA+9_1'].fillna('') + '\n' + df1['STA+9_2'].fillna('') + ' ' + df1['STA+9_3'].fillna('') + '\n' + df1['STA+9_4'].fillna('') + ' ' + df1['STA+9_5'].fillna('')).str.strip()
df3 = pd.DataFrame(df2[['공사일지일자','STA+0','STA+1','STA+2','STA+3','STA+4','STA+5','STA+6','STA+7','STA+8','STA+9']])

df3 = df3.set_index('공사일지일자')
df3

,STA+0,STA+1,STA+2,STA+3,STA+4,STA+5,STA+6,STA+7,STA+8,STA+9
공사일지일자,,,,,,,,,,
20091231.0,,,,,,,,,,
20100209.0,,,,,,,,,,
20100210.0,"STA.0+180~0+580 흙깎기(1,000㎥/11,500㎥)",,,,,,,,,
20100211.0,,,,,,,,,,
20100217.0,"STA.0+180~0+580 흙깎기(1,000㎥/12,500㎥)",,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...
NaN,,,,,,,,,,
NaN,,,,,,,,,,
NaN,,,,,,,,,,
NaN,,,,,,,,,,
NaN,,,,,,,,,,

In [44]:
df3.to_excel('/content/drive/MyDrive/230421dataClassification_STA_Method2.xlsx',sheet_name = "토공사분류_STA")